body{
background-image:url("");
background-size: cover; /*(Ajusta o tamanho da imagem ao container)*/
background-image: repeat; /*(Não permite a Repetição)*/
background-position:top; center ; /*(Ajusta a imagem ao centro centro)*/
/*-webkit-text-stroke: 0.5px #F8F8FF; (Insere uma borda no Texto)*/
border: solid 1px #DCDCDC;
border-radius: 5px;
padding: 5px;
width: auto;
height: auto;
overflow-x: auto;  /*(Rolagem Horizontal Oculta)*/
overflow-y: auto;  /*(Rolagem Vertical)*/
font: 20px small-caps;
background-color: white;
Color: black;
}
  
h1,h2,h3,h4,h5,h6 {
display: flex;
justify-content: center;
font-family: "Serif";
format('ttf, otf');
}


/*--------------------------[CSS-FONTS]--------------------------*/
  @font-face {
  font-family: 'Arial, Verdana, Helvetica, Trebuchet MS, Georgia, Courier New, Comic Sans MS, Brush Script MT, Impact, Lucida Sans, Colibri, Comic Sans, Constantia, Sans-serif, Serif';
/*---------------------------------------------------------------*/
    src: url('http://localhost:2435/storage/emulated/0/TextEdit/CURSO+WEB+2023/Fonts+CSS/liberationSerif/LiberationSerif-Bold.ttf')
/*---------------------------------------------------------------*/
  src: url('http://localhost:2435/storage/emulated/0/TextEdit/CURSO+WEB+2023/Fonts+CSS/liberationSerif/LiberationSerif-BoldItalic.ttf') 
/*---------------------------------------------------------------*/
  src: url('http://localhost:2435/storage/emulated/0/TextEdit/CURSO+WEB+2023/Fonts+CSS/liberationSerif/LiberationSerif-Italic.ttf') 
/*---------------------------------------------------------------*/
  src: url('http://localhost:2435/storage/emulated/0/TextEdit/CURSO+WEB+2023/Fonts+CSS/liberationSerif/LiberationSerif-Regular.ttf') 
/*---------------------------------------------------------------*/
  format('ttf, otf');
  }

/*
  Esta e uma maneira direta de  editar o estilo de fonte, assim como e feito com 
  o estilo de borda.

/*-----------------------------------------------------------------
  .ManeiraDireta{
  font: italic bold 25px Serif;
  }
-----------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------[CSS-SCROLLBAR-ALL]-----------------------*/
*::-webkit-scrollbar {
  width: 6px; 
  height: 6px;             /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #F5F5F5;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid #A9A9A9;  /* creates padding around scroll thumb */
}

/*---------------------------------------------------------------*/

.ContainerAsideMain{
display: flex;
flex-wrap: wrap;
max-width:1400px;
border-radius: 15px;
padding: 5px;
}


.Aside{
border: solid 2px gray;
border-radius: 15px;
padding: 7px;
margin: 3px;
max-width: 180px;
}


.Main{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
border: solid 2px gray;
border-radius: 15px;
padding: 7px;
margin-bottom: 3px;
max-width: 1098px;
min-width: 300px;
}


.Footer{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
height: 200px;
border: solid 2px gray;
border-radius: 15px;
padding: 10px;
}


.IconsAside{
display: flex;
width: 17%;
border-radius: 10px;
margin-right: 5px;
}




.AllTexts{
display: flex;
flex-wrap: wrap;
color: #1C1C1C;
margin-bottom: 15px;
}

.AllTextsTitles{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
font: bold 25px Cambria;
color: black;
margin-bottom: 5px;
}


.AllTextsTitlesAside{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
font: bold 20px Cambria;
color: black;
margin-bottom: 5px;
}


.ContainerIconsText{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-end;
justify-content: flex-start;
max-width: 158px;
margin-bottom: 5px;
}


.ContainerTitleNameFoto{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
column-gap: 250px;
width:auto;
margin-top: 15px;
margin-bottom: 5px;
}

.IconSkills{
display: flex;
width: 28%;
border-radius: 10px;
margin-right: 3px;
margin-bottom: 3px;
}


.AllIconsSkills{
display: flex;
width: 30%;
border-radius: 10px;
margin-right: 3px;
margin-bottom: 3px;
}


.IconsSkillsJavaScript{
display: flex;
width: 20%;
border-radius: 10px;
margin-right: 3px;
margin-bottom: 3px;
}


.Porcent{
display: flex;
align-items: center;
justify-content: flex-start;
background-color: lime;
height: 7px;
border-radius: 10px;
border: solid 1.1px #228B22;
font: bold 14px arial;
padding: 5px;
color: blue;
-webkit-text-stroke: 0.2px black;
}


.PorcentContainer{
display: flex;
align-items: center;
justify-content: flex-start;
background-color: silver;
width:175px;
height: 16px;
border-radius: 15px;
border-top: solid 2px #A9A9A9;
border-left: solid 2px #A9A9A9;
border-right: solid 2px #808080;
border-bottom: solid 2px #808080;
padding-top: 1.5px;
padding-left: 1px;
padding-right: 1.5px;
padding-bottom: 1.5px;
margin-right: 10px;
}


.TitleName{
display: flex;
align-items: center;
justify-content: flex-end;
width: 550px;
}


.IconsIdiomas{
display: flex;
width: 105%;
height: 3%;
border-radius: 10px;
margin-right: 3px;
margin-bottom: 3px;
}

.IconsIdiomasAll{
display: flex;
width: 30%;
border-radius: 10px;
margin-right: 3px;
margin-bottom: 3px;
}


.FotoPerfil{
display: flex;
border: solid 1px silver;
width: 10%;
border-radius: 10px;
margin-right: 3px;
margin-bottom: 3px;
}


.AllTextsTitles2{
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: flex-start;
font: bold 25px Cambria;
color: black;
margin-bottom: 5px;
}

.AllTextsTitles3{
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: flex-start;
font: bold 25px Cambria;
color: red;
-webkit-text-stroke: 0.8px black;
margin-bottom: 5px;
}


.ContainerIconExperiencia{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-end;
justify-content: center;
margin-bottom: 5px;
}


.IconMaleta{
width: 50px;
}

.LogoExperiencia{
border-radius: 15px;
width: 100%; 
height: 40%;
}


.FigureIcons{
display: flex;
align-items: center;
justify-content: flex-start;
padding-left: 0px;
margin-left: 0px;
}


.IconDate{
width: 55px;  
}


.Data{
background-color: black;
color: red;
border-radius: 10px;
font-weight: bold;
font-size: 20px;
padding-top: 7px;
padding-bottom: 7px;
padding-left: 7px;
padding-right: 7px;
margin-left: 10px;
} 


.Situation{
background-color: red;
color: black;
border-radius: 10px;
border: solid 2px black;
font-weight: bold;
padding: 5px;
font-size: 20px;
}


.AllTextsTitles{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
font: bold 25px Cambria;
color: black;
margin-bottom: 5px;
}


.AllTexts2{
display: flex;
flex-wrap: wrap;
color: yellow;
font-size: 25px;
-webkit-text-stroke: 0.3px red; /*(Insere uma borda no Texto)*/
margin-bottom: 15px;
}



.ContainerLogoTextExperience{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: flex-start;
margin: 10px;
padding: 10px;
width: 95%;
background-image:url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.WCyGdHT36NjQUBafkNGNdwHaD4%26pid%3DApi&f=1&ipt=0736f7697fc57c40a0a72c995b096577488482e906a2d86bd40b97b76d6a92db&ipo=images");
background-size: 55%; /*(Ajusta o tamanho da imagem ao container)*/
background-image: repeat; /*(Não permite a Repetição)*/
background-position: center; center; /*(Ajusta a imagem ao centro centro)*/
/*-webkit-text-stroke: 0.5px #F8F8FF; (Insere uma borda no Texto)*/
border: solid 1px #DCDCDC;
border-radius: 15px;
}




.ContainerIconCursosTI{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-end;
justify-content: center;
margin-bottom: 5px;
}


.IconCap{
width: 70px;
}



.DioLogo{
width: 20%;
height: 10%;
border: solid 1px #DCDCDC;
border-radius: 15px;
}


.FigureIcons2{
display: flex;
align-items: center;
justify-content: flex-start;
margin: 10px;
}

.ContainerLogoTextDio{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: flex-start;
margin: 10px;
padding: 10px;
width: 95%;
background-image:url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2F8BQR-E-P0pc%2Fmaxresdefault.jpg&f=1&nofb=1&ipt=03c6e64df6f8aa3a1d2c166208b3c7bb12933906b253cec5f04b408f0fb60623&ipo=images");
background-size: 55%; /*(Ajusta o tamanho da imagem ao container)*/
background-image: repeat; /*(Não permite a Repetição)*/
background-position: center; center; /*(Ajusta a imagem ao centro centro)*/
/*-webkit-text-stroke: 0.5px #F8F8FF; (Insere uma borda no Texto)*/
border: solid 1px #DCDCDC;
border-radius: 15px;
}

.FigureIcons3{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
margin: 10px;
}

.ContainerIconDate{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
}

.Certificate{
border-radius: 15px;
border: solid 1px gold;
width: 30%; 
height:70%;
}




.ContainerIconGraduacao{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-end;
justify-content: center;
margin-bottom: 5px;
}



.ContainerLogoTextFacu{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: flex-start;
margin: 10px;
padding: 10px;
width: 95%;
background-image:url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fraichu-uploads.s3.amazonaws.com%2Flogo_descomplica-pos-graduacao_r2UHUU.png&f=1&nofb=1&ipt=16b38c95a35d6cd2080a4d3431f66f100d379f846d42fab23ef13a852e37380c&ipo=images");
background-size: 30%; /*(Ajusta o tamanho da imagem ao container)*/
background-image: repeat; /*(Não permite a Repetição)*/
background-position: center; center; /*(Ajusta a imagem ao centro centro)*/
border: solid 1px #DCDCDC;
border-radius: 15px;
}



.CursoFacu{
color: white;
-webkit-text-stroke: 0.5px silver; /*(Insere uma borda no Texto)*/
font-size: 23px;
}



.ContainerIconProject{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
margin-bottom: 5px;
}

.IconProject{
width: 160px;
height: 120px;
border-radius: 15px;
}

.LinkGitHub{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: flex-start;
margin: 10px;
padding: 10px;
width: 95%;
background-image:url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Falyssonmach.github.io%2FMinicurso-Git-e-GitHub%2Fimg%2F5.png&f=1&nofb=1&ipt=084770e54914c17a9b0cce35591f27852858498c62e13dc73ba47fed791d7528&ipo=images");
background-size: 30%; /*(Ajusta o tamanho da imagem ao container)*/
background-image: repeat; /*(Não permite a Repetição)*/
background-position: center; center; /*(Ajusta a imagem ao centro centro)*/
border: solid 1px #DCDCDC;
border-radius: 15px;
text-decoration: none;
-webkit-text-stroke: 0.7px black;
color: red;
}


.GitHubText{
  display: flex;
color: black;
}

.LogoGit{
  display: flex;
width: 110px; 
height: 110px;
}


.GitHubIcon{
display: flex;
width: 70px;
}

.LinkIconGitFooter{
  display: flex;
text-decoration: none;
font-weight: bold;
}



.LogoLinkedin{
display: flex;
width: 110px; 
height: 110px;
}


.LinkedinIcon{
  display: flex;
width: 70px;
}

.LinkIconLinkedinFooter{
display: flex;
text-decoration: none;
font-weight: bold;
}

.LinkedinText{
  display: flex;
color: black;
}


.ContainerRedesSociaisFooter{
display: flex;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: baseline;
width: 20%;
margin-bottom: 200px;
}



.ContainerLogoTextVig{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-items: flex-start;
}


.ContainerIconsTextVig{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-end;
}


.IconVigilante3{
width: 270px; 
border-radius: 15px;
}

.IconVspp5{
width: 300px; 
border-radius: 15px;
}

.ExperVig{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: flex-start;
margin-left: 20px;
}

.IconSegurPro{
width: 90px; 
height: 30px;
border-radius: 15px;
border: solid 1px silver;
}

.ContainerIconsTextSegurPro{
display: flex;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: center;
margin-left: 5px;
width: 400px;
}


.ContainerCertificate{
display: flex;
justify-content: flex-start;
align-items: flex-start;
gap: 10px;
}

.IconCertificate{
width: 290px; 
height: 200px;
border-radius: 15px;
border: solid 1px silver;
}